@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@100;200;300;400;500;600;700;800;900;100;200;300;400;500;600;700;800;900&display=swap');

@import url('sections/header_contact.css');

:root{
    --plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
    --Poppins: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body 
{
    background-color: #ffffff;
    margin: 0 auto;
    font-family: var(--Poppins);
    height: 100vh;
}

a {
    text-decoration: none;
}

#welcome-message {
    color: black;
    font-size: 35px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.contacts-table {
    width: 1200px; 
    margin: 20px auto; 
    border-radius: 10px; 
    overflow: hidden; 
}

.contacts-table table {
    width: 100%; 
    border-collapse: collapse;
    border-spacing: 0;
}

.contacts-table th, .contacts-table td {
    padding-top: 10px;
    padding-bottom: 10px; 
    text-align: center;
    color: white;
    border-right: none;
}

.contacts-table th:first-child {
    border-bottom-left-radius: 10px;
}

.contacts-table th:last-child {
    border-bottom-right-radius: 10px;
}

.contacts-table thead tr {
    background: linear-gradient(45deg, 
	#b8b1ff, 
	#9646ad, #1a4fa3, #7e48ab, #b4eaf4);
	background-size: 200% 200%;
	animation: glowing-table 5s linear infinite;
	color: white;
}

@keyframes glowing-table {
	0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.contacts-table tbody tr {
    border: 5px solid #000000;
}